@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Cabin Sketch;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
    background-color: antiquewhite;
}

/* Style for a title, How to Play link and Sound effects toggle */
header {
    margin: 30px 30px 0;
}

#logo {
    width: 100%;
    text-align: left;
    font-size: 300%;
    color: black;
    display: inline;
}

#instructions-link {
    margin-right: 30px;
    font-size: 220%;
    float: right;
    text-decoration: none;
    color: black;
}

.toggle-switch {
    float: right;
    font-size: 150%;
}

#instructions-link:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: rgb(68, 45, 16);
} 

#instructions-link, #logo, .toggle-switch, #close-btn {
    line-height: 75px;
}

#close-btn {
    font-size: 300%;
    text-decoration: none;
    color: black;
    float: right;
}

/* Game section - User Side */
#game-section {
    width: 100%;
    height: max-content;
    padding: 150px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#scores-area {
    width: 100%;
    height: 40px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#scores-area > .width {
    width: 500px;
    text-align: center;
}

#game-area {
    display: flex;
    justify-content: center;
}

#user-side {
    width: 500px;
    height: 500px;
    text-align: center;
    vertical-align: middle;
    border: 2px dashed rgb(0, 0, 0);
    border-radius: 20px;
}

.icon-size {
    width: 150px;
    height: 150px;
}

#computer-side {
    width: 500px;
    height: 500px;
    vertical-align: middle;
    border: 2px dashed rgb(0, 0, 0);
    border-radius: 20px;
}

#answer-side {
    width: 500px;
    height: 500px;

}